img {
    width: 200px;
    }

body {
    text-align: center;
    font-family: cursive;
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqZQyLp96Ysjt0cmWx16LfljrkU4QOFh8ClRjzHbtxhyPb4-nhCIsItD8)
}

#onecolor {
    color: red;
}

#othercolor{
    color: purple;
}