img {
    width: 200px;
    }

body {
    text-align: center;
    font-family: cursive;
    background-image: url(<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDkVJfnRu8ixSyJcKLdG5ayqKGbV_sEdFQOfpS0rErexznIx6G" alt="Image result for backgrounds"/>);
}

#onecolor {
    color: red;
}

#othercolor{
    color: lime;
}